.week-picker-wrapper{align:"center", style:"max-width:1160px;"}
  #week-picker

%br

#week-time-entries
  = render partial: 'week_time_entries'

.support{style:'display:none'}
  =form_tag "", id: "time-entries-form", method: :get, remote: true

= javascript_include_tag "time-entries-confirmation"
