%h2 Мое расписание

#week-picker

#week-sheet

.support{style:'display:none1'}
  =form_tag "/time_entries_sheet/foo", class: "time-entries-form", method: :get, remote: true do
    = submit_tag "Submit"


= javascript_include_tag "time-entries-sheet"
