.week-picker-wrapper{align:"center"}
  #week-picker

%br
#week-sheet
  = render partial: 'week_sheet'

.support{style:'display:none'}
  =form_tag "", id: "time-entries-form", method: :get, remote: true

= javascript_include_tag "time-entries-sheet"
