.week-picker-wrapper{align:"center", style:"max-width:1160px;"}
  #week-picker

%br
.wrong-value-notice{style:"display:none;color:red;font-size:14px;max-width:1160px;padding:15px;", align: 'center'}
  Превышен лимит по списанию за сутки. За сутки можно списать не более 24 часов.
#week-sheet
  = render partial: 'week_sheet'

.support{style:'display:none'}
  =form_tag "", id: "time-entries-form", method: :get, remote: true

= javascript_include_tag "time-entries-sheet"
